@charset "UTF-8";

@import url("./styles/variables.css");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  min-height: 100vh;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color1);
  color: var(--color6);
  font-family: var(--default-font);
  margin: 0;
  height: 100%;
  padding: 0;  
}

main {
  height: 100%;
}

h1 {
  font-size: calc(1.8rem + 0.390625vw);
}

h5 {
  font-size: calc(1rem + 0.390625vw);
}

button {
  border: 0 !important;
}

img {
  max-width: 100%;
  display: block;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.row {
  margin: 0;
  width: 100%;
}

.col {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.blink {
  animation: blink 1s steps(1, end) infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

