@import url("variables.css");

nav, #offcanvasNavbar {
    background-color: var(--color4);
}

nav button {
    border: 0;
    padding: 0.25% 0.5% !important;
}

button:active {
    border: 0;
}

.navbar-nav a {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.navbar {
    padding: 0.25% 1%;
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
}

.navbar-toggler-icon {
    background-image: url("../../public/navbar-icon.png");
}

.toggle-mode-icon {
    background-image: url("../../public/sun-icon-dark.png");
    background-size: 100%;
    display: inline-block;
    height: 1.5em;
    vertical-align: middle;
    width: 1.5em;
}

.btn-close {
    background-image: url("../../public/close-icon.png");
    border: 0 !important;
    box-sizing: border-box;
    position: absolute;
    right: 8px;
    top: 8px;
}
