@import url("variables.css");

nav, #offcanvasNavbar {
    background-color: var(--color4);
}

button:active {
    border: 0;
}

.navbar-nav a {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.navbar {
    padding: 0.25% 1%;
}

.navbar-toggler {
    border: 1px solid var(--color4);
    padding: 0.25% 0.5%;
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
}

.navbar-toggler-icon {
    background-image: url("../../public/navbar-icon.png");
}

.btn-close {
    background-image: url("../../public/close-icon.png");
    border: 0 !important;
    box-sizing: border-box;
    position: absolute;
    right: 8px;
    top: 8px;
}
