@import url("variables.css");

button {
    border-radius: 0 !important;
    background-color: var(--color4) !important;
    border: none !important;
}

button h5 {
    background-color: var(--color3);
    margin-top: 3%;
    padding: 3%;
    position: relative;
    top: 10%;
}